body{
    background-color: rgba(251, 236, 99, 0.966);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
*{
    margin:0;
    padding: 0;
}

.container{
    height: 40vh;
    width: 34.8vw;
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border: 1px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 70%);
    border-radius: 10px;
}

.white{
    height: 40vh;
    width: 5vw;
    background-color: white;
    border: 1px solid #333;
    cursor: pointer;
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 70%);
    
}
.black-block{
    height: 20vh;
    width: 3vw;
    background-color: #333;
    margin-left: -22px;
    margin-right: -22px;
    z-index: 1;
    cursor: pointer;
}

.white.active{
    background-color: rgb(172, 172, 172);
  }